/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

/* CSS variables */
:root {
    --primary-color: #1b2e28;
    --secondary-color: #3a5845;
    --highligt-color: #42a2d1;
    --highligt-color-light: #e7e9e8;

    --primary-font: "Oswald", sans serif;
    --secondary-font: "Inter", sans serif;
}

/* 
#42A2D1 Shakespear (light blue)
#E7E9E8 Black haze (Cloudy white)
#3A5845 Mineral green (green)
#1B2E28 Timber green (dark green)
*/
* {
    margin: 0;
    padding: 0;
}

/* Global styles */
h1, 
h2,
h3 {
    font-family: var(--primary-font);
}

p {
    font-family: var(--secondary-font);
}

/* Navigation bar */
.navbar {
    background-color: var(--primary-color);
    padding: 7px;
}

.nav-item a {
    color: var(--highligt-color-light);
    
}

/*.navbar-toggler #toggler-icon {
    background-color: var(--secondary-color);
    
}*/
#navbar-toggle {
    background-color: var(--highligt-color);
    border: var(--highligt-color);
}

.nav-item a:hover {
    color: var(--highligt-color);
}



/* Heading */

.header-container {
    min-width: 100%;
    min-height: 100vh;
    background-image: url(../images/1602764.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 56px; /* Fixed so the navbar doesen´t get in the way */
    
}

.heading {
    width: 90%;
    color: var(--primary-color);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.heading h1 {
    font-size: 38px;
    font-weight: 600;
}

.heading p {
    margin: 10px o 40px;
    font-size: 16px;
}

/* Hero button */
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--highligt-color-light);
    border: 2px solid var(--highligt-color-light);
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--primary-color);
    color: var(--highligt-color-light);
    border-color: var(--primary-color);
    transition: 1s;
}

/* Main content */

.wrap-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
    border: 1px solid var(--primary-color);

}


/* Footer content */
footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
} 

footer h2, p {
    color: var(--highligt-color);
}

.social-links a {
    justify-content: space-between;
    text-decoration: none;
}



/* Fishing section */

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .heading h1 {
        font-size: 62px;
    }
}

/* large devices (small laptops, 992px and up) */
/*
@media screen and (min-width: 992px) {

}*/

/* large devices (laptops, 1200px and up) */

/*@media screen and (min-width: 1200px) {

}*/





